# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Environment & Secrets
.env
terraform.tfvars
*.pem
aws_credentials.txt

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swpterraform/shuffle-key
terraform/shuffle-key.pub
terraform/shuffle-key
